@import url('main.css');

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/gifs/vid2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner .banner-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
    gap: 30px;
}

.cards .title {
    color: var(--strong-text-color);
    text-align: center;
    font-size: 2.5rem;
}

.cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

.cards .card .card-title:not(.cards .card .card-body .card-title) {
    margin: 80px auto 20px;
    font-size: 20px;
    color: var(--strong-text-color);
}

.cards .card .card-body .card-title {
    font-size: 20px;
    color: var(--strong-text-color);
    margin-bottom: 10px;
}

.cards .card .card-body p {
    text-justify: inter-character;
    display: inline;
}

.cards .card .card-body img.side {
    /* display: inline-block; */
    /* max-width: 300px;
    max-height: 300px; */
    margin: 10px 0 20px 0;
    width: 100%;
    border-radius: 20px;
}

.cards .card:nth-child(odd) .card-body img.side {
    float: right;
}

.cards .card:nth-child(even) .card-body img.side {
    float: left;
    margin-right: 20px;
}

.cards .card .card-body .card-grid {
    display: flex;
    gap: 100px;
}

.cards .card .card-body .card-grid .card-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards .card .card-body .card-grid .card-column.card-summary {
    justify-content: center;
}

.cards .card .card-body .card-grid .card-column.card-version {
    height: 100%;
    text-align: center;
}

.cards .card .card-body .card-grid .card-column .card-date {
    color: var(--third-text-color);
    margin-top: 8px;
    font-size: 13pt;
}

.cards .card .card-body .card-grid .card-column.card-null h3,
.cards .card .card-body .card-grid .card-column.card-null p {
    color: var(--third-text-color);
}

.cards .card .card-body .card-grid .card-column img {
    margin: auto;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    /* width: 100%; */
}


.info-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.info-cards h1 {
    font-size: 30pt;
    padding: 30px 0 10px 0;
}

.card-version,
.card-version .card-body {
    position: relative;
}


.card-version .card-body {
    border-radius: 20px
}

.card-version .card-body img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.card-version .card-body .info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    width: 100%;
    height: 100%;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.card-version .card-body .info ul {
    max-height: 50%;
}

.card-version .card-body:hover .info {
    opacity: 1;
    visibility: visible;
}

.card-version .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 1100px) {
    
    .cards .card .card-body .card-grid {
        display: flex;
        gap: 50px;
    }
}

@media screen and (max-width: 480px) {

    .banner {
        height: 50vh;
    }

    .banner .banner-inner .banner-text {
        text-align: center;
    }

    .banner .banner-inner .banner-text img {
        width: 75%;
    }

    .cards .title {
        text-align: center;
        font-size: 2.1rem;
    }

    .card .card-summary .card-title h2 {
        font-size: 1.6rem;
    }

    .cards .card .card-body .card-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-version .card-body{
        margin: auto;
        width: 80%;
    }
}