:root {
    --play-color: #f4f4f4;

    font-family: 'Poppins', sans-serif;
    font-size: 13pt;
}

/* html[data-theme='light'] {
    --primary-color: #ebe0e0;
    --secondary-color: #8cc064;
    --third-color: #D4D4D4;
    --navbar-scrolled-color: rgb(234, 225, 225, 0.6);
    --navbar-color: rgb(234, 225, 225, 1);

    --text-color: #16171A;
    --strong-text-color: #000000;
    --third-text-color: #949494;
} */

:root,
html[data-theme='dark'] {
    --primary-color: #101e2b;
    --secondary-color: #97bd7a;
    --third-color: #183a42;
    --navbar-scrolled-color: rgb(16, 30, 43, 0.8);
    --navbar-color: rgb(16, 30, 43, 1);


    --text-color: #d1d0d1;
    --strong-text-color: #f4f4f4;
    --third-text-color: #60656a;
}

[data-theme='light'] .fa-solid.fa-bolt,
[data-theme='dark'] .fa-solid.fa-moon {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 75ms;
    overflow-x: hidden;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    color: var(--strong-text-color);
    background: var(--secondary-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.navbar {
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    z-index: 99;
    background-color: var(--navbar-scrolled-color);
    transition: all 0.2s ease-in-out;
}

.navbar .mobile-inner {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    z-index: 998;
}

.navbar .mobile-inner .hamburger {
    z-index: 999;
}

.navbar .mobile-inner .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--play-color);
    margin: 5px 0;
    transition: all 0.2s ease-in-out;
}

.mobile-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 100;
    background-color: var(--navbar-scrolled-color);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.mobile-menu .links {
    text-align: center;
}

.mobile-menu .links a {
    text-align: center;
    font-size: 20pt;
    color: var(--strong-text-color);
    text-decoration: none;
}

.mobile-menu .social-link {
    padding: 20px 0;
}

.mobile-menu .social-link a {
    text-align: center;
    font-size: 20pt;
    color: var(--strong-text-color);
    text-decoration: none;
    padding: 0 20px;
}

.navbar .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 70px;
}

.navbar .logo button.scrollToTop {
    background-color: transparent;
    border: none;
    outline: none;
}

.navbar .logo img {
    width: 60px;
    cursor: pointer;
}

.navbar .logo img:active {
    filter: brightness(0.8);
}

.navbar .navbar-inner .fit {
    width: calc(100%/3);
    flex: 1 1 auto;
}

.navbar .navbar-inner .btn-play {
    border: 2px solid var(--third-text-color);
    border-radius: 10px;
    width: 125px;
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-inner .btn-play .logo-play {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: var(--third-text-color);
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-inner .btn-play .logo-play img {
    filter: brightness(0.4);
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-inner .btn-play:hover {
    border-color: var(--strong-text-color);
}

.navbar .navbar-inner .btn-play:hover .logo-play,
.navbar .navbar-inner .btn-play:hover .logo-play img {
    color: var(--strong-text-color);
    filter: brightness(1);
}

.navbar .nav-toggle {
    display: none;
}

.navbar .dark-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.navbar .dark-toggle i,
.navbar .social-link i {
    color: var(--third-text-color);
    transition: all 0.2s ease-in-out;
}

.navbar .dark-toggle i:hover,
.navbar .social-link a:hover i {
    color: var(--strong-text-color);
}

.navbar .social-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .social-link a {
    text-decoration: none;
    padding: 0 10px;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar .menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.navbar .menu ul li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--third-text-color);
    font-weight: 500;
}

.navbar .menu ul li a:hover {
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.navbar .menu ul li.active a {
    color: var(--secondary-color);
}

.navbar .menu .logo img {
    height: 40px;
    transform: translate(0, 25%);
}

/* unity banner */

.unity-banner {
    background-image: url(../assets/images/screenshot/screen_classe3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    transition: all 0.8s ease-in-out;
}

.unity-banner-content {
    background: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.9));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.unity-banner img,
.unity-banner p,
.unity-banner btn-unity {
    margin: 40px;
}

.unity-banner img {
    width: calc(100% - 40px *2);
    max-width: 700px;
}

.unity-banner p {
    color: var(--strong-text-color);
}

.unity-banner .btn-unity {
    border: 2px solid var(--third-text-color);
    border-radius: 10px;
    width: 125px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 40px;
}

.unity-banner .btn-unity .logo-unity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: var(--third-text-color);
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.unity-banner .btn-unity .logo-unity img {
    filter: brightness(0.4);
    transition: all 0.2s ease-in-out;
}

.unity-banner .btn-unity:hover {
    border-color: var(--strong-text-color);
}

.unity-banner .btn-unity:hover .logo-unity,
.unity-banner .btn-unity:hover .logo-unity img {
    color: var(--strong-text-color);
    filter: brightness(1);
}

.slideshow-container {
    position: relative;
    overflow: hidden;
}

.slideshow {
    display: inline-flex;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.slideshow .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    flex: 0 0 auto;
}

.slideshow .slide img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    float: none;
    display: block;
}

/* footer */

footer {
    background-color: var(--third-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    height: 100%;
}

footer .footer-inner {
    width: 95%;
    padding: 30px 0;
    margin: auto;
    color: var(--text-color);
    text-align: center;
}

@media screen and (max-width: 768px) {

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;
    }

    .navbar .mobile-inner {
        display: flex;
    }

    .navbar .navbar-inner {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;
    }

    .navbar .mobile-inner {
        display: flex;
    }

    .navbar .navbar-inner {
        display: none;
    }

    .unity-banner div p {
        text-align: center;
    }
}